 div{
    border: solid 1px red;
    margin: 20px;
    background-color: aliceblue;
 }

 span{
    border: solid 2px white;
    background-color: orange;
 }
 .s1{
    display: inline;  /* 인라인: span 기본값*/
    width: 200px; height: 200px;
 }
 .s2{
    display: block;     /*블록*/
    width: 200px; height: 200px;  /*블록으로 변경했기 때문에 적용*/
 }
 .s3{
    display: inline-block; /*인라인+블록*/
    width: 200px; height: 200px;  /


 }
 .s4{
    display: none;  /*숨기기*/
 }